* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  scroll-behavior: smooth;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}

img {
  display: block;
}